# K3s environment configuration
K3S_TOKEN={{ k3s_server_node_token | default('') }}
K3S_KUBECONFIG_MODE={{ k3s_server_kubeconfig_mode }}
# Enable metrics server
{{ 'K3S_METRICS_SERVER=true' if k3s_server_enable_metrics_server else '#K3S_METRICS_SERVER=false' }}
