# InfluxDB integration configuration
host: {{ home_assistant_integration_influxdb_host }}
port: {{ home_assistant_integration_influxdb_port }}
database: {{ home_assistant_integration_influxdb_database }}
username: {{ home_assistant_integration_influxdb_username }}
password: {{ home_assistant_integration_influxdb_password }}
max_retries: 3
default_measurement: state
include:
  domains:
    - sensor
    - binary_sensor
    - switch
    - climate
    - light
exclude:
  entities:
    - sensor.last_boot
    - sensor.date
exclude:
  domains:
    - automation
    - media_player
