# Mosquitto Add-on Configuration
logins:
  - username: {{ mqtt_username }}
    password: {{ mqtt_password }}
customize:
  active: true
  folder: mosquitto
certfile: fullchain.pem
keyfile: privkey.pem
require_certificate: false
