# Mock MQTT integration configuration
discovery: true
discovery_prefix: {{ home_assistant_integration_mqtt_discovery_prefix }}
broker: {{ home_assistant_integration_mqtt_broker_host }}
port: {{ home_assistant_integration_mqtt_broker_port }}
username: {{ home_assistant_integration_mqtt_username }}
password: {{ home_assistant_integration_mqtt_password }}
birth_message:
  topic: 'homeassistant/status'
  payload: 'online'
will_message:
  topic: 'homeassistant/status'
  payload: 'offline'
