# Mock SSH configuration
enable: true
port: 22

# SSH Add-on Configuration
authorized_keys:
{% for key in home_assistant_integration_ssh_public_keys %}
  - {{ key }}
{% endfor %}
password: ''
username: {{ home_assistant_integration_user }}
