# Voice Assistant Configuration
voice:
  intents:
    homeassistant.intents: ~
  default: true
  language: {{ home_assistant_integration_voice_assistant_language }}
  provider: {{ home_assistant_integration_voice_assistant_type }}
